.chat-side
  .side-header
    %p.side-heder__user-name
      minako
    %ul.user-menu
      %li.user-menu__edit-user
        = link_to new_group_path, {class: "user-menu__edit-user__edit-btn"} do
          %i.fa.fa-edit
      %li.user-menu__new-group
        = link_to edit_user_path(current_user), {class: "user-menu__new-group__cog-btn"} do
          %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), {class: "groups__box"} do
          %p.group__group-name
            =group.name
          %p.group__group-message
            メッセージはまだありません
