.flash-box {
  color: white;
  width: 100vw;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  .notice{
    background-color: #38AEF0
  }
}

.wrapper{
  margin: 0;
  padding: 0;
  .chat-side {
    width: 300px;
    float: left;
    color: white;
  }
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    font-weight: bold;
    &__user-name {
      margin: 0;
      padding: 0;
    }
    .user-menu {
      display: flex;
      list-style: none;
      &__edit-user {
        margin-left: 0.3rem;
        a {
          color: #ffffff;
        }
      }
      &__new-group {
        margin-left: 0.3rem;
        a {
          color: #ffffff;
        }
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group {
      margin: 0 0 40px 0;
      color:#ffffff;
      font-weight: bold;
      &__group-name {
        font-size: 15px;
        margin: 0 0 5px 0;
      }
      &__group-message {
        font-size: 11px;
      }
    }
  }
}
